h1{
    color: chocolate;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.loading-bar{
    width: 500px;
    height: 3em;
    background-color: black;
    border-radius: 1.5em;
    align-items: center;
}