h1{
    color:red;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.phone {
    border-radius: 15px;
    height: 700px;
    width: 500px;
    box-shadow: 10px 10px 8px blueviolet;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.pexels.com/photos/4173624/pexels-photo-4173624.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    width: 100px;
    height: 100px;
    background: blue;
    margin: 2px;
    border-radius: 10px;
}
.boxa {
    width: 100px;
    height: 100px;
    background:navy;
    margin: 2px;
    border-radius: 10px;
}
.boxb {
    width: 100px;
    height: 100px;
    background:pink;
    margin: 2px;
    border-radius: 10px;
}
.boxc {
    width: 100px;
    height: 100px;
    background:yellow;
    margin: 2px;
    border-radius: 10px;
}
.boxd {
    width: 100px;
    height: 100px;
    background:yellowgreen;
    margin: 2px;
    border-radius: 10px;
}
.boxe {
    width: 100px;
    height: 100px;
    background:orange;
    margin: 2px;
    border-radius: 10px;
}
.boxf {
    width: 100px;
    height: 100px;
    background:black;
    margin: 2px;
    border-radius: 10px;
}
.boxg {
    width: 100px;
    height: 100px;
    background:brown;
    margin: 2px;
    border-radius: 10px;
}
.box1 {
    width: 100px;
    height: 100px;
    background: blanchedalmond;
    margin: 2px;
    border-radius: 10px;
}
.box2 {
    width: 100px;
    height: 100px;
    background: #ff6a00;
    margin: 2px;
    border-radius: 10px;
}
.box3 {
    width: 100px;
    height: 100px;
    background:red;
    margin: 2px;
    border-radius: 10px;
  }
.box4 {
    width: 100px;
    height: 100px;
    background: fuchsia;
    margin: 2px;
    border-radius: 10px;
}
.box5 {
    width: 100px;
    height: 100px;
    background: cornflowerblue;
    margin: 2px;
    border-radius: 10px;
}
.box6 {
    width: 100px;
    height: 100px;
    background: gold;
    margin: 2px;
    border-radius: 10px;
}
.box7 {
    width: 100px;
    height: 100px;
    background: whitesmoke;
    margin: 2px;
    border-radius: 10px;
}
.box8 {
    width: 100px;
    height: 100px;
    background: gray;
    margin: 2px;
    border-radius: 10px;
}
.box9 {
    width: 100px;
    height: 100px;
    background: #00fbff;
    margin: 2px;
    border-radius: 10px;
}
.box10 {
    width: 100px;
    height: 100px;
    background: wheat;
    margin: 2px;
    border-radius: 10px;
}
.box11 {
    width: 100px;
    height: 100px;
    background: #9dff00;
    margin: 2px;
    border-radius: 10px;
}
.box12 {
    width: 100px;
    height: 100px;
    background: #00ffa2;
    margin: 2px;
    border-radius: 10px;
}