body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: pink;
}
.loading { 
   max-width: 50%;
   line-height: 1.4;
   font-size: 1.2rem;
   font-weight: bold;
   text-align: center;
}
.loading-circle { 
  font-weight: normal;
  font-size: 0.9rem;
  color: yellow;
  margin: 0.6rem 0 2rem 0;
  display: block;
}
.loading-anim {
    width: 90px;
    height: 90px;
    border:  5px solid rgba(189,189,189 ,0.25);
    border-left-color: red;
    border-top-color: red;
    border-radius: 50%;
    display: inline-block;
    animation: rotate 600ms infinite linear;
}
@keyframes rotate {
    to {
      transform: rotate(1turn)
    }
  }