h1{
    color: blue;
    text-align: center;
}
* {
    margin: 0;
    padding: 0;
}

ul {
    margin-left: 1em;
}
li {
    margin-left: 1em;
}
.content {
    min-height: 80vh;
    background:pink;
    color:black;
    display: flex;
    flex-wrap: wrap;
}
body {
    color: grey;
    font-family: 'Roboto Condensed', sans-serif;
}
.shoe {
    margin: 10px;
}

.shoe img {
    min-width: 160px;
    width: 30vmin;
    height: 30vmin;
    object-fit: cover;
}