h1{
    color: blue;
}
.wrapper {
    color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.phone {
    display: flex;
    flex-direction: column;
    color: brown;
    background-color: darkgreen;
}
.row {
    width: 100px;
    height: 100px;
    color: coral;
    background-color: blue;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{

}

