h1{
    color: red
}
.container {
    border: 3px solid magenta;
    border-radius: 15px;
    height: 100px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .box {
    width: 100px;
    height: 100px;
    background: blue;
    margin: 2px;
    border-radius: 10px
  }