h1{
    color: red
}
.container {
    border: 3px solid magenta;
  border-radius: 15px;
  height: 600px;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
  
  .left-section {
    width: 100px;
    height: 100px;
    background: blue;
    margin: 4px;
    border-radius: 10px;
  }
  .middle-section {
    width: 100px;
    height: 100px;
    background: blue;
    margin: 4px;
    border-radius: 10px;
  }
  .right-section{
    width: 100px;
    height: 100px;
    background: blue;
    margin: 4px;
    border-radius: 10px;
  }
  .box {
    width: 100px;
    height: 100px;
    background: lightpink;
    margin: 6px;
    border-radius: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  