h1{
    background-color: pink;
}
div {
    width: 200px;
    height: 200px;
    margin: 100px auto;
    background-color: royalblue;
    transition-property: all;
    transition-delay: .1s;
    transition-duration: .5s;
    transition-timing-function: ease-in;

}
div:hover {
    width: 350px;
    height: 350px;
}